.button {
  align-items: center;
  background-color: $bg-color-grey;
  border: none;
  color: $text-black;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  outline: none;
  padding: 28px;
  text-decoration: none;
  width: auto;

  @include font($font-style: bold, $font-size: 18);

  & > * {
    display: flex;
  }

  &--primary {
    background-color: $bg-color-white;
    color: $text-violet;
  }

  &--secondary {
    background-color: $bg-color-aqua;
    color: $text-white;
    width: 100%;

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }

  &__icon {
    font-size: 40px;
  }
}