.container {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;

  &--home {
    align-content: center;
    justify-content: flex-end;
  }

  &__content {
    flex-flow: column;
    padding: 30px;
  }
}