$bg-color-aqua: #32cccc;
$bg-color-gradient-violet: #8d85ee;
$bg-color-gradient-lilas: #aa64f5;
$bg-color-grey: #f2f6f8;
$bg-color-white: #ffffff;

$color-lilas: #a468f3;
$color-violet: #8d85ee;

$text-black: #4d5667;
$text-green: #85cd1a;
$text-grey: #a4abb3;
$text-lilas: #a468f3;
$text-red: red;
$text-violet: #8d85ee;
$text-white: #f6f2fe;